## [Start] Setting "isPrimary" to default value of "false". **
$util.qr($context.args.input.put("isPrimary", $util.defaultIfNull($ctx.args.input.isPrimary, false)))
## [End] Setting "isPrimary" to default value of "false". **
## [Start] Setting "order" to default value of "0". **
$util.qr($context.args.input.put("order", $util.defaultIfNull($ctx.args.input.order, 0)))
## [End] Setting "order" to default value of "0". **
{}